@{
    ViewBag.Title = "Product Information";
}
<div style="border:solid red;border-radius: 10px;">
    <h1 style="margin-left:10px;text-align:center;color:lightseagreen">Product Information</h1>
<p style="margin-left:10px;font-size:22px;color:seagreen">Brand: @ViewBag.Brand</p>
<p style="margin-left:10px;font-size:22px;color:seagreen">Category: @ViewBag.Category</p>
<p style="margin-left:10px;font-size:22px;color:seagreen">Price: @ViewBag.Price Azn</p>
<p style="margin-left:10px;font-size:22px;color:saddlebrown">Id: @ViewBag.Id</p>
</div>
